[Unit]
Description=memos service
Documentation=https://usememos.com/
After=network.target

[Service]
Type=simple
User=kazuki
ExecStart=/usr/bin/memos
EnvironmentFile=/etc/memos.conf

[Install]
WantedBy=multi-user.target
